body{
	background-color: white; 
}
.link {
	font-size: 1.25rem;
	color: black;
	margin-top: 1%;
	margin-left: 1%;
}

.hr_header{
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	opacity: .25;
}

.hr_header, ::after, ::before {
    box-sizing: border-box;
}

.container{
	max-width: 1222.4px;
	padding: 0px 15px;
	margin: 1px;
}

@media (max-width:1295.5px){
	.container{
		max-width: 1065.5px;
	}
}
@media (max-width:1087.5px){
	.container{
		max-width: 845.5px;
	}
}
@media (max-width:862.5px){
	.container{
		max-width: 642.5px;
	}
}
@media (max-width: 642.5px){
	.container{
		max-width: 520.5px;
	}
}
@media (max-width:422.5px){
	.container{
		max-width: 302.5px;
	}
}
@media (max-width:202.5px){
	.container{
		max-width: none;
	}
}
.htwo{
	font-size: 2rem;
	margin-left: 45%;
	margin-bottom: 25px;
}


.image{ 
	max-width: 80%;
	margin-left: 50%;
}


.lol{
	margin: 15px;
	color: black;
}

.test{
	color:black;
}

.telegramlinks{
	display: flex;
}
